body {
  background-color: pink;
}
  #myDIV {
      height: 300px;
      width: 100%;
      overflow: auto;
      -ms-transform: scale(1.5);
      -moz-transform: scale(1.5);
      -webkit-transform: scale(1.5);
      -o-transform: scale(1.5);
      padding: 10px;

  }

  #content {
      height: 80px;
      width: 2000px;
      background-color: pink;
      border-right: 20px;
  }
