<!-- howdy/templates/about.html -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <title>Year</title>
    </head>
    <body>
    </body>
</html>

<img src="http://i.imgur.com/bca41CT.png" alt="Banner" style="width:100%;height:180px;">

<html>
<body>

<img src="http://i.imgur.com/xyz5c20.png" alt="January" style="width:200px;height:190px;">
<a href="/"><img src="http://i.imgur.com/o3Zz4v1.png" alt="february" style="width:200px;height:190px;"></a>
<img src="http://i.imgur.com/SLu42UT.png" alt="March" style="width:200px;height:190px;">
<img src="http://i.imgur.com/zhvlLTG.png" alt="April" style="width:200px;height:190px;">
<img src="http://i.imgur.com/7YY92oJ.png" alt="May" style="width:200px;height:190px;">
<img src="http://i.imgur.com/0fRiq0U.png" alt="June" style="width:200px;height:190px;">
<img src="http://i.imgur.com/ytN1Y5t.png" alt="July" style="width:200px;height:190px;">
<img src="http://i.imgur.com/y4xdbtT.png" alt="August" style="width:200px;height:190px;">
<img src="http://i.imgur.com/sgGnjEH.png" alt="September" style="width:200px;height:190px;">
<img src="http://i.imgur.com/qO4UBab.png" alt="October" style="width:200px;height:190px;">
<img src="http://i.imgur.com/8m2GkHK.png" alt="November" style="width:200px;height:190px;">
<img src="http://i.imgur.com/GjgLGEA.png" alt="December" style="width:200px;height:190px;">


</body>
</html>
